{{- $campaign := .Get "campaign" | default .Page.Params.campaign -}}
{{- $site := index (where site.Params.map.sites "campaign" $campaign) 0 -}}
{{- $image := "" -}}
{{- with $site.content.image -}}
    {{- with resources.Get . -}}
        {{- $image = (.Fill "1600x500 center").RelPermalink -}}
    {{- end -}}
{{- end -}}

{{- with $image -}}
<div class="site-verification-banner" data-site="{{ $campaign | urlize }}" style="background-image: url('{{ . }}');" aria-label="{{ $campaign }}"></div>
{{- end -}}
